* {
    margin: 0;
    padding: 0;
    outline: 0;
}

a {
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

ul,
ol {
    list-style-type: none;
}

.typed::after {
	content: '|';
	display: inline;
	-webkit-animation: blink 0.7s infinite;
	-moz-animation: blink 0.7s infinite;
	animation: blink 0.7s infinite;
}

img{
    vertical-align: middle;
}

/*Removes cursor that comes with typed.js*/
.typed-cursor{
   opacity: 0;
	display: none;
}
/*Custom cursor animation*/
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
/* ======================== Navigation Part css ================================== */

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

.navbar-light .navbar-brand {
    font-size: 22px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

.navbar-light .navbar-brand:hover {
    color: #fff;
}


.navbar-expand-lg .navbar-nav .nav-link {
	padding-right: 0;
	padding-left: 0;
}

.navbar-light .navbar-nav .nav-item{
    padding-left: 30px;
}

.navbar-light .navbar-nav .nav-link {
    font-size: 13px;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    transition: all linear 0.3s;
    position: relative;
}

.navbar-light .navbar-nav .nav-link::after{
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background: #dddddd;
    transition: all linear 0.3s;
}

.navbar-light .navbar-nav .nav-link:hover::after{
    width: 100%;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #999;
}

/* ======================== Banner Part css ============================ */

#banner {
    background: url(../images/banner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 230px;
    padding-bottom: 190px;
    position: relative;
}

#banner::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(34, 34, 34, 0.8);
}

.banner-text{
    position: relative;
    z-index: 1;
}

.banner-text h1 {
    font-size: 88px;
    font-weight: 900;
    color: #fff;
    padding-bottom: 15px;
}

.banner-text p {
    font-size: 24px;
    font-family: 'Lato', sans-serif;
    color: #eee;
    padding-bottom: 50px;
}

.banner-text a{
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #fff;
    padding: 15px 30px;
    border: 1px solid #777;
    border-radius: 5px;
    background: #999;
    text-transform: uppercase;
    transition: all linear 0.3s;
}

.banner-text a:hover{
    background: #ffffff;
    color: #444;
}

/* ==================== About Me css =================== */

#about_me{
    padding: 100px 0;
}

.about-text h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 32px;
    color: #222;
    padding-bottom: 10px;
}

.about-text h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #444;
    padding-bottom: 25px;
}

.about-custom{
    color: #222;
    font-weight: 600;
}

.about-text p{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444;
}

.about-text .about-list {
	line-height: 32px;
}

.about-text .about-list .list-title {
    max-width: 110px;
    width: 100%;
    font-weight: 500;
}

.list-title{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #222;
}

.list-value{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #444;
}

.about-text a{
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #fff;
    padding: 15px 30px;
    border: 1px solid #777;
    border-radius: 5px;
    background: #999;
    text-transform: uppercase;
    transition: all linear 0.3s;
    
}

.resume{
    margin-top: 40px;
}

.about-text a:hover{
    background: #ffffff;
    color: #444;
}

.self-image{
    position: relative;
}

.self-overlay{
    position: absolute;
    bottom: -30px;
    left: 30px;
    width: 100%;
    height: 100%;
    background: #dddddd;
    z-index: -1;
}

/* ============================= Service Part css ======================== */

#service{
    padding: 100px;
    background: #f2f2f2;
}

.service-heading-1{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #444;
    padding-bottom: 10px;
}

.service-heading-2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 32px;
    color: #222;
    padding-bottom: 25px;
}

.single-service {
    text-align: center;
  }
  .single-service i {
    font-size: 60px;
    color: #999;
    width: 110px;
    height: 110px;
    line-height: 100px;
  }
  .single-service h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px
  }
  .single-service {
    text-align: center;
    padding: 10px;
  }

  .single-service p{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444;
  }

/* ==================== Portfolio Part css ===================== */

#works{
    padding: 100px 0;
}

.works-heading-1{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #444;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.works-heading-2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 32px;
    color: #222;
    padding-bottom: 25px;
}

.all-button {
    /* padding: 10px 15px;
    margin-right: 4px;
    border: 1px solid #ebebeb;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 300px;
    color: #8c8c8c;
    background: #ffffff;
    cursor: pointer;
    transition: all linear 0.3s; */

    font-family: 'Lato', sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #fff;
    padding: 15px 25px;
    border: 1px solid #777;
    border-radius: 5px;
    background: #999;
    text-transform: uppercase;
    transition: all linear 0.3s;
    cursor: pointer;
    margin-right: 4px;
}

.all-button:hover {
    background: #ffffff;
    color: #444;
}

.other-button {
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #fff;
    padding: 15px 30px;
    border: 1px solid #777;
    border-radius: 5px;
    background: #999;
    text-transform: uppercase;
    transition: all linear 0.3s;
    cursor: pointer;
    margin-right: 4px;
}

.other-button:hover {
    background: #ffffff;
    color: #444;
}

.works-content{
    position: relative;
}

.works-content img{
    width: 100%;
}

.works-content-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(34, 34, 34,0.5);
}





















